Q1. Perform the following operations on Age-Income dataset (Age-
Income-Dataset.csv)

Provide summary statistics (mean, median, minimum, maximum,
standard deviation) for numeric variables with and without using
any library functions.
Provide summary statistics of income grouped by the age groups.
Create a list that contains a numeric value for each response to the
categorical variable.

In [4]:
import pandas as pd
import statistics
import numpy as np
import scipy.stats
import math
df = pd.read_excel('Age-Income-Dataset.xlsx')
df.head()

          Age  Income
0       Young   25000
1  Middle Age   54000
2         Old   60000
3       Young   15000
4       Young   45000

In [8]:
# Mean manually
mean_income = sum(df.Income)/len(df.Income)
print("mean of income : ",mean_income)

mean of income :  50966.0

In [9]:
# Mean using package
mean_income = statistics.mean(df.Income)
print("mean of income : ",mean_income)

mean of income :  50966

In [11]:
# Median manually
len_of_income = len(df.Income)
if len_of_income % 2 :
    income_median = sorted(df.Income)[round(0.5*(len_of_income - 1))]
else :
    x_ord, index = sorted(df.Income), round(0.5 * len_of_income)
    income_median = 0.5 * (x_ord[index-1] + x_ord[index])
    
print("Median of Income : ",income_median)

Median of Income :  46850.0

In [12]:
#Median by packages
income_median = statistics.median(df.Income)
print("Median of Income : ",income_median)

Median of Income :  46850.0

In [27]:
# Mode manually
alldata = []
for i in df.Income:
    alldata.append(i)

alldata.append(45000)
print(alldata)
income_mode = max((alldata.count(item), item) for item in set(alldata))
print("Mode of Income : ",income_mode)

[25000, 54000, 60000, 15000, 45000, 65000, 70000, 30000, 27000, 23000, 48000, 52000, 33000, 80000, 75000, 35000, 29000, 57000, 43000, 56000, 63000, 32000, 45000, 89000, 90000, 93000, 80000, 87000, 38000, 23000, 38900, 53200, 43800, 25600, 65400, 76800, 89700, 41800, 31900, 25600, 45700, 35600, 54300, 65400, 67800, 24500, 34900, 45300, 68400, 51700, 45000]
Mode of Income :  (3, 45000)

In [28]:
#Mode with package

income_mode = statistics.mode(df.Income)
print("Mode of Income : ",income_mode)

Mode of Income :  45000