In [9]:
import pandas as pd

In [3]:
import statistics

In [8]:
import numpy as np

In [5]:
import scipy.stats

In [6]:
import math

In [13]:
df = pd.read_excel('Age-Income-Dataset.xlsx')
df.head()

          Age  Income
0       Young   25000
1  Middle Age   54000
2         Old   60000
3       Young   15000
4       Young   45000

In [15]:
mean = statistics.mean(df.Income)
mean

50966

In [17]:
median = statistics.median(df.Income)
median

46850.0

In [21]:
mode = statistics.mode(df.Income)
mode

45000

In [23]:
variance = statistics.variance(df.Income)
variance

445070044.8979592

In [25]:
std = statistics.stdev(df.Income)
std

21096.683267707253

In [27]:
incomearray = np.array(df.Income)
skew = scipy.stats.skew(incomearray, bias=False)

In [28]:
skew

0.3896340114677522

In [31]:
df.groupby(df.Age).describe()

           Income                                                         \
            count          mean           std      min      25%      50%
Age
Middle Age   15.0  52453.333333  20497.800114  25600.0  36900.0  53200.0
Old          19.0  53942.105263  20868.165968  24500.0  38700.0  45300.0
Young        16.0  46037.500000  22356.859499  15000.0  28750.0  41500.0


                75%      max
Age
Middle Age  61200.0  93000.0
Old         71400.0  89700.0
Young       65850.0  87000.0