In [26]:
import pandas as pd
from sklearn import linear_model

In [27]:
df = pd.read_csv('Banglore Housing Prices.csv')
df.head()
#reading given database

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [28]:
df.isnull().sum()
#checking number of null values

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [49]:
#taking mean to replace null values
size_mean = df['size'].mean()
bath_mean = df['bath'].mean()
# replacing null values with mean values
df['size'].fillna(size_mean,inplace=True)
df['bath'].fillna(bath_mean, inplace=True)

In [8]:
df.dtypes
#checking datatypes of columsn in dataframe

location       object
size           object
total_sqft     object
bath          float64
price         float64
dtype: object

In [9]:
df['size'].unique()
#printing unique values to replace

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', nan, '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [30]:
df['size'].replace(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK','9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'],
        ['2','4','3','4','6','3','1','1','1','8','2','7','5','7','6','5','11','9',
         '9','27','10','11','10','19','16','43','14','8','12','13','18'],inplace=True)

In [11]:
#values successfully replaced
#coverting datatype of size column to numeric

In [31]:
df['size'] = pd.to_numeric(df['size'])

In [32]:
def convert_sqft_tonum(x):
    token=x.split('-')
    if len(token)==2:
        return (float(token[0])+float(token[1]))/2
    try:
        return float(x)
    except:
        return None
# function to return floa

In [33]:
df['total_sqft']=df['total_sqft'].apply(convert_sqft_tonum)

In [34]:
df['total_sqft'] = pd.to_numeric(df['total_sqft'])

In [35]:
df.dtypes

location       object
size          float64
total_sqft    float64
bath          float64
price         float64
dtype: object

In [36]:
df['Price_Per_Sqft'] = df['total_sqft'] / df['price']

In [37]:
df.head()

                   location  size  total_sqft  bath   price  Price_Per_Sqft
0  Electronic City Phase II   2.0      1056.0   2.0   39.07       27.028411
1          Chikka Tirupathi   4.0      2600.0   5.0  120.00       21.666667
2               Uttarahalli   3.0      1440.0   2.0   62.00       23.225806
3        Lingadheeranahalli   3.0      1521.0   3.0   95.00       16.010526
4                  Kothanur   2.0      1200.0   2.0   51.00       23.529412

In [38]:
import numpy as np

In [39]:
#taking mean to replace null values
total_sqft_mean = df['total_sqft'].mean()
pricepersqft_mean = df['Price_Per_Sqft'].mean()
# replacing null values with mean values
df['total_sqft'].fillna(total_sqft_mean,inplace=True)
df['Price_Per_Sqft'].fillna(pricepersqft_mean, inplace=True)

In [40]:
df1 = df['price']

In [41]:
df.drop('price',axis='columns',inplace=True)
# Dropping price

In [47]:
df.drop('location',axis='columns',inplace=True)
# also dropping locaion column as it contains string values

In [50]:
model = linear_model.LinearRegression()
# Training model
model.fit(df.values,df1.values)

LinearRegression()

In [51]:
#Find price of home with 3000 sqr ft area, 3 bedrooms, 1 bath and 20 Price_per_sqft
model.predict([[3, 3000, 1,20]])

array([192.0305966])

In [99]:
#Find price of home with 8000 sqr ft area, 5 bedrooms, 3 bath and 34 Price_per_sqft
model.predict([[5, 8000, 3,34]])

array([116.14830441])

In [52]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [53]:
x = df
y = df1

In [54]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=1)

In [55]:
model1 = linear_model.LinearRegression()
model1.fit(x_train,y_train)
pred_y = model1.predict(x_test)
#creating new model for checking accuracy
#storing predicted values in pred_y for testing values x_test

In [56]:
print(pred_y) # Predicted values by model

[ 56.85447067  10.04915719 145.98980635 ...  53.37042738  60.16426991
  90.09819011]

In [1]:
# acc = accuracy_score(y_test,pred_y)
# #calculating accuracy by passing testvalues and predicted values
# print(acc)

In [57]:
model1.score(x_test,y_test) # accuracy score

0.5908702089697343

In [58]:
model1.coef_

array([-3.73262657,  0.07616678, 10.02413452, -7.37183687])

In [59]:
model1.intercept_

116.68991798160359