In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('A1_ALCHOHOL.csv')
print(df)

           Country   Alcohol   Deaths   Heart      Liver
0        Australia       2.50      785  211.0  15.300000
1          Austria       3.00      863  167.0  45.599998
2   Belg. and Lux.       2.90      883  131.0  20.700001
3           Canada       2.40      793    NaN  16.400000
4          Denmark       2.90      971  220.0  23.900000
5          Finland       0.80      970  297.0  19.000000
6           France       9.10      751   11.0  37.900002
7          Iceland      -0.80      743  211.0  11.200000
8          Ireland       0.70     1000  300.0   6.500000
9           Israel       0.60     -834  183.0  13.700000
10           Italy      27.90      775  107.0  42.200001
11           Japan       1.50      680   36.0  23.200001
12     Netherlands       1.80      773  167.0   9.200000
13     New Zealand       1.90      916  266.0   7.700000
14          Norway       0.08      806  227.0  12.200000
15           Spain       6.50      724    NaN        NaN
16          Sweden       1.60      743  207.0  11.200000
17     Switzerland       5.80      693  115.0  20.299999
18              UK       1.30      941  285.0  10.300000
19              US       1.20      926  199.0  22.100000
20    West Germany       2.70      861  172.0  36.700001
21          India        2.95      750  171.0  20.270000

In [11]:
df.isnull().sum()

Country      0
 Alcohol     0
Deaths       0
Heart        2
 Liver       1
dtype: int64

In [15]:
df[' Alcohol '] = df[' Alcohol '].abs()
print(df)

           Country   Alcohol   Deaths   Heart      Liver
0        Australia       2.50      785  211.0  15.300000
1          Austria       3.00      863  167.0  45.599998
2   Belg. and Lux.       2.90      883  131.0  20.700001
3           Canada       2.40      793    NaN  16.400000
4          Denmark       2.90      971  220.0  23.900000
5          Finland       0.80      970  297.0  19.000000
6           France       9.10      751   11.0  37.900002
7          Iceland       0.80      743  211.0  11.200000
8          Ireland       0.70     1000  300.0   6.500000
9           Israel       0.60     -834  183.0  13.700000
10           Italy      27.90      775  107.0  42.200001
11           Japan       1.50      680   36.0  23.200001
12     Netherlands       1.80      773  167.0   9.200000
13     New Zealand       1.90      916  266.0   7.700000
14          Norway       0.08      806  227.0  12.200000
15           Spain       6.50      724    NaN        NaN
16          Sweden       1.60      743  207.0  11.200000
17     Switzerland       5.80      693  115.0  20.299999
18              UK       1.30      941  285.0  10.300000
19              US       1.20      926  199.0  22.100000
20    West Germany       2.70      861  172.0  36.700001
21          India        2.95      750  171.0  20.270000

In [17]:
df.columns

Index(['Country', ' Alcohol ', 'Deaths ', 'Heart', ' Liver'], dtype='object')

In [21]:
df.columns = [c.strip() for c in df.columns]

In [22]:
df.columns

Index(['Country', 'Alcohol', 'Deaths', 'Heart', 'Liver'], dtype='object')

In [26]:
livermean = df['Liver'].mean()
print(livermean)
df['Liver'].fillna(livermean, inplace=True)
print(df)

20.265238149428573
           Country  Alcohol  Deaths  Heart      Liver
0        Australia     2.50     785  211.0  15.300000
1          Austria     3.00     863  167.0  45.599998
2   Belg. and Lux.     2.90     883  131.0  20.700001
3           Canada     2.40     793    NaN  16.400000
4          Denmark     2.90     971  220.0  23.900000
5          Finland     0.80     970  297.0  19.000000
6           France     9.10     751   11.0  37.900002
7          Iceland     0.80     743  211.0  11.200000
8          Ireland     0.70    1000  300.0   6.500000
9           Israel     0.60    -834  183.0  13.700000
10           Italy    27.90     775  107.0  42.200001
11           Japan     1.50     680   36.0  23.200001
12     Netherlands     1.80     773  167.0   9.200000
13     New Zealand     1.90     916  266.0   7.700000
14          Norway     0.08     806  227.0  12.200000
15           Spain     6.50     724    NaN  20.265238
16          Sweden     1.60     743  207.0  11.200000
17     Switzerland     5.80     693  115.0  20.299999
18              UK     1.30     941  285.0  10.300000
19              US     1.20     926  199.0  22.100000
20    West Germany     2.70     861  172.0  36.700001
21          India      2.95     750  171.0  20.270000

In [27]:
heartmean = df['Heart'].mean()
print(heartmean)

184.15

In [28]:
df.loc[10, 'Alcohol'] =  2
print(df)

           Country  Alcohol  Deaths  Heart      Liver
0        Australia     2.50     785  211.0  15.300000
1          Austria     3.00     863  167.0  45.599998
2   Belg. and Lux.     2.90     883  131.0  20.700001
3           Canada     2.40     793    NaN  16.400000
4          Denmark     2.90     971  220.0  23.900000
5          Finland     0.80     970  297.0  19.000000
6           France     9.10     751   11.0  37.900002
7          Iceland     0.80     743  211.0  11.200000
8          Ireland     0.70    1000  300.0   6.500000
9           Israel     0.60    -834  183.0  13.700000
10           Italy     2.00     775  107.0  42.200001
11           Japan     1.50     680   36.0  23.200001
12     Netherlands     1.80     773  167.0   9.200000
13     New Zealand     1.90     916  266.0   7.700000
14          Norway     0.08     806  227.0  12.200000
15           Spain     6.50     724    NaN  20.265238
16          Sweden     1.60     743  207.0  11.200000
17     Switzerland     5.80     693  115.0  20.299999
18              UK     1.30     941  285.0  10.300000
19              US     1.20     926  199.0  22.100000
20    West Germany     2.70     861  172.0  36.700001
21          India      2.95     750  171.0  20.270000

In [29]:
df['Deaths'] = df['Deaths'].abs()

In [30]:
print(df)

           Country  Alcohol  Deaths  Heart      Liver
0        Australia     2.50     785  211.0  15.300000
1          Austria     3.00     863  167.0  45.599998
2   Belg. and Lux.     2.90     883  131.0  20.700001
3           Canada     2.40     793    NaN  16.400000
4          Denmark     2.90     971  220.0  23.900000
5          Finland     0.80     970  297.0  19.000000
6           France     9.10     751   11.0  37.900002
7          Iceland     0.80     743  211.0  11.200000
8          Ireland     0.70    1000  300.0   6.500000
9           Israel     0.60     834  183.0  13.700000
10           Italy     2.00     775  107.0  42.200001
11           Japan     1.50     680   36.0  23.200001
12     Netherlands     1.80     773  167.0   9.200000
13     New Zealand     1.90     916  266.0   7.700000
14          Norway     0.08     806  227.0  12.200000
15           Spain     6.50     724    NaN  20.265238
16          Sweden     1.60     743  207.0  11.200000
17     Switzerland     5.80     693  115.0  20.299999
18              UK     1.30     941  285.0  10.300000
19              US     1.20     926  199.0  22.100000
20    West Germany     2.70     861  172.0  36.700001
21          India      2.95     750  171.0  20.270000