In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('nba.csv')
print(df)

              Name            Team  Number Position  Age  Height  Weight  \
0    Avery Bradley  Boston Celtics       0       PG   25   2-Jun     180
1      Jae Crowder  Boston Celtics      99       SF   25   6-Jun     235
2     John Holland  Boston Celtics      30       SG   27   5-Jun     205
3      R.J. Hunter  Boston Celtics      28       SG   22   5-Jun     185
4    Jonas Jerebko  Boston Celtics       8       PF   29  10-Jun     231
..             ...             ...     ...      ...  ...     ...     ...
452     Trey Lyles       Utah Jazz      41       PF   20  10-Jun     234
453   Shelvin Mack       Utah Jazz       8       PG   26   3-Jun     203
454      Raul Neto       Utah Jazz      25       PG   24   1-Jun     179
455   Tibor Pleiss       Utah Jazz      21        C   26   3-Jul     256
456    Jeff Withey       Utah Jazz      24        C   26  Jul-00     231

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
452           Kentucky  2239800.0
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0

[457 rows x 9 columns]

In [6]:
from sklearn import preprocessing

In [8]:
df['Position'].unique()

array(['PG', 'SF', 'SG', 'PF', 'C'], dtype=object)

In [15]:
label_encode = preprocessing.LabelEncoder() 
df['pos'] = label_encode.fit_transform(df['Position']) #creates new column with fit_transformed position values
print(df)

              Name            Team  Number Position  Age  Height  Weight  \
0    Avery Bradley  Boston Celtics       0       PG   25   2-Jun     180
1      Jae Crowder  Boston Celtics      99       SF   25   6-Jun     235
2     John Holland  Boston Celtics      30       SG   27   5-Jun     205
3      R.J. Hunter  Boston Celtics      28       SG   22   5-Jun     185
4    Jonas Jerebko  Boston Celtics       8       PF   29  10-Jun     231
..             ...             ...     ...      ...  ...     ...     ...
452     Trey Lyles       Utah Jazz      41       PF   20  10-Jun     234
453   Shelvin Mack       Utah Jazz       8       PG   26   3-Jun     203
454      Raul Neto       Utah Jazz      25       PG   24   1-Jun     179
455   Tibor Pleiss       Utah Jazz      21        C   26   3-Jul     256
456    Jeff Withey       Utah Jazz      24        C   26  Jul-00     231

               College     Salary  pos
0                Texas  7730337.0    2
1            Marquette  6796117.0    3
2    Boston University        NaN    4
3        Georgia State  1148640.0    4
4                  NaN  5000000.0    1
..                 ...        ...  ...
452           Kentucky  2239800.0    1
453             Butler  2433333.0    2
454                NaN   900000.0    2
455                NaN  2900000.0    0
456             Kansas   947276.0    0

[457 rows x 10 columns]

In [19]:
df1 = df  #create duplicate data frame
df1['Position'].replace(['SG','PF','PG','DF','C'],[1,2,3,4,5],inplace=True) #replace initial value with new values
print(df1)

              Name            Team  Number Position  Age  Height  Weight  \
0    Avery Bradley  Boston Celtics       0        3   25   2-Jun     180
1      Jae Crowder  Boston Celtics      99       SF   25   6-Jun     235
2     John Holland  Boston Celtics      30        1   27   5-Jun     205
3      R.J. Hunter  Boston Celtics      28        1   22   5-Jun     185
4    Jonas Jerebko  Boston Celtics       8        2   29  10-Jun     231
..             ...             ...     ...      ...  ...     ...     ...
452     Trey Lyles       Utah Jazz      41        2   20  10-Jun     234
453   Shelvin Mack       Utah Jazz       8        3   26   3-Jun     203
454      Raul Neto       Utah Jazz      25        3   24   1-Jun     179
455   Tibor Pleiss       Utah Jazz      21        5   26   3-Jul     256
456    Jeff Withey       Utah Jazz      24        5   26  Jul-00     231

               College     Salary  pos
0                Texas  7730337.0    2
1            Marquette  6796117.0    3
2    Boston University        NaN    4
3        Georgia State  1148640.0    4
4                  NaN  5000000.0    1
..                 ...        ...  ...
452           Kentucky  2239800.0    1
453             Butler  2433333.0    2
454                NaN   900000.0    2
455                NaN  2900000.0    0
456             Kansas   947276.0    0

[457 rows x 10 columns]

# Quontitative to Categorical

In [21]:
cat = pd.cut(df.Age, bins=[19,25,30,35,45],labels=['A','B','C','D'])
df.insert(5,'AgeGroup',cat)
print(df)

              Name            Team  Number Position  Age AgeGroup  Height  \
0    Avery Bradley  Boston Celtics       0        3   25        A   2-Jun
1      Jae Crowder  Boston Celtics      99       SF   25        A   6-Jun
2     John Holland  Boston Celtics      30        1   27        B   5-Jun
3      R.J. Hunter  Boston Celtics      28        1   22        A   5-Jun
4    Jonas Jerebko  Boston Celtics       8        2   29        B  10-Jun
..             ...             ...     ...      ...  ...      ...     ...
452     Trey Lyles       Utah Jazz      41        2   20        A  10-Jun
453   Shelvin Mack       Utah Jazz       8        3   26        B   3-Jun
454      Raul Neto       Utah Jazz      25        3   24        A   1-Jun
455   Tibor Pleiss       Utah Jazz      21        5   26        B   3-Jul
456    Jeff Withey       Utah Jazz      24        5   26        B  Jul-00

     Weight            College     Salary  pos
0       180              Texas  7730337.0    2
1       235          Marquette  6796117.0    3
2       205  Boston University        NaN    4
3       185      Georgia State  1148640.0    4
4       231                NaN  5000000.0    1
..      ...                ...        ...  ...
452     234           Kentucky  2239800.0    1
453     203             Butler  2433333.0    2
454     179                NaN   900000.0    2
455     256                NaN  2900000.0    0
456     231             Kansas   947276.0    0

[457 rows x 11 columns]